<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LongPolling.Server.SelfHosting.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_INotificationService"
             openTimeout="02:10:00"
             closeTimeout="02:10:00"
             sendTimeout="02:10:00"
             receiveTimeout="02:10:00"
             maxBufferPoolSize="2147483647"
             maxBufferSize="2147483647"
             maxConnections="2147483647"
             maxReceivedMessageSize="2147483647"
             portSharingEnabled="false"
             transactionFlow="false"
             listenBacklog="2147483647"/>
      </netTcpBinding>
    </bindings>
    <services>
      <!--<service name="LongPolling.Server.Manual.ManualNotificationService" behaviorConfiguration="NotificationServiceBehavior">-->
      <service name="LongPolling.Server.External.ExternalNotificationService" behaviorConfiguration="NotificationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3141/NotificationService"/>
            <add baseAddress="net.tcp://localhost:5537/NotificationService"/>
          </baseAddresses>
          <timeouts closeTimeout="02:10:00" openTimeout="02:10:00" />
        </host>
        <endpoint address="net.tcp://localhost:5537/NotificationService" binding="netTcpBinding" contract="LongPolling.INotificationService" name="NetTcpBinding_INotificationService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NotificationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500000" maxConcurrentSessions="50000" maxConcurrentInstances="50000" />
          <bufferedReceive maxPendingMessagesPerChannel="50000" />
          <serviceTimeouts transactionTimeout="02:10:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
