<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LongPollingDemo.Client.Runner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LongPolling.Client.Runner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LongPollingDemo.Client.Runner.Settings>
            <setting name="ClientsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClientsReadingTimeout" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="ClientsRuntime" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="InstancesCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DelayBetweenInstances" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="ClientFilePath" serializeAs="String">
                <value>LongPolling.Client.exe</value>
            </setting>
            <setting name="DelayBetweenClients" serializeAs="String">
                <value>00:00:01</value>
            </setting>
        </LongPollingDemo.Client.Runner.Settings>
        <LongPolling.Client.Runner.Settings>
            <setting name="ClientsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClientsReadingTimeout" serializeAs="String">
                <value>00:02:00</value>
            </setting>
            <setting name="ClientsRuntime" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="InstancesCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DelayBetweenInstances" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="ClientFilePath" serializeAs="String">
                <value>LongPolling.Client.exe</value>
            </setting>
            <setting name="DelayBetweenClients" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </LongPolling.Client.Runner.Settings>
    </userSettings>
</configuration>