<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LongPolling.Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LongPolling.Server.Settings>
            <setting name="EventsDueTime" serializeAs="String">
                <value>00:00:1</value>
            </setting>
            <setting name="EventsInterval" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="EventsPerInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="NotificationsTimeout" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </LongPolling.Server.Settings>
    </userSettings>
</configuration>