<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="Performance">
            <callbackDebug includeExceptionDetailInFaults="true" />
            <callbackTimeouts transactionTimeout="01:30:00" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_INotificationService" closeTimeout="01:30:00"
                    openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5537/NotificationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotificationService"
                contract="NotificationServiceReference.INotificationService"
                name="NetTcpBinding_INotificationService">
                <identity>
                    <userPrincipalName value="CONNER-PC\Conner" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
